.app-container {
  min-height: 100vh;
  flex-wrap: nowrap;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  overflow: auto;
}

app-footer {
  background: #f8f9fa;
  text-align: center;
  width: 100%;
}

@media (max-width: 991px) {
  .app-container {
    flex-direction: column;
  }

  app-sidebar {
    width: 100%;
    min-height: auto;
  }
}