/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.app-container {
  min-height: 100vh;   // Toda la pantalla
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}
