.navbar .nav-link {
  transition: 0.2s ease-in-out;
}

.navbar .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: .375rem;
}

.navbar .nav-link.active {
  background-color: rgba(255, 255, 255, 0.25) !important;
  border-radius: .375rem;
  font-weight: 600;
}
